<launch>

  <param
    name="robot_description"
    textfile="$(find openloong_description)/urdf/AzureLoong_with_sole.urdf" />
  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find openloong_description)/rviz/display.rviz" />
</launch>
